extend templates/base
block content
  h1 Bootstrap starter template
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.
  a.btn(href='/collect') Collect data
  if collection
    p Date: #{collection['date']}
    h3 System: 
    h4 Hostname: #{collection.system['hostname']}
    p hardware: #{collection.system['hardware']}
      br
      | openwrt-version: #{collection.system['openwrt-version']}
      br
      | uptime: #{collection.system['uptime']}
      br
      | cpu-load: #{collection.system['cpu-load']}
      br
      | mem-free: #{collection.system['mem-free']} / #{collection.system['mem-total']}
      br
      each item in collection.olsr
        each link in collection.olsr.neighbors.links
          #{link.localIP}
          br
          #{link.remoteIP}
          br
          #{link.validityTime}
          br
          #{link.linkQuality}
          br
          #{link.neighborLinkQuality}
          br
          #{link.linkCost}
        br
      br
      each network in collection.network
