extend templates/base
block content
  h1 Bootstrap starter template
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.
  a.btn(href='/collect') Collect data
  if collection
    p Date: #{collection['date']}
    h3 System: 
    h4 Hostname: #{collection.system['hostname']}
    p hardware: #{collection.system['hardware']}
      br
      | openwrt-version: #{collection.system['openwrt-version']}
      br
      | uptime: #{collection.system['uptime']}
      br
      | cpu-load: #{collection.system['cpu-load']}
      br
      | mem-free: #{collection.system['mem-free']} / #{collection.system['mem-total']}
    h4 OLSR
    each link in collection.olsr.neighbors.links
      p
        | localIP: #{link.localIP}
        br
        | remoteIP: #{link.remoteIP}
        br
        | validityTime: #{link.validityTime}
        br
        | linkQuality: #{link.linkQuality}
        br
        | neighborLinkQuality: #{link.neighborLinkQuality}
        br
        | linkCost: #{link.linkCost}
        br
    h4 Network
    // | ifname: #{collection.network.interfaces[0].ifname}
    p connected clients: #{collection.network.clients}
    each interface in collection.network.interfaces
      p
        | ifname: #{interface.ifname}
        br
        | device: #{interface.device}
        br
        | macaddr: #{interface.macaddr}
        br
        // #{interface.up}
        // #{interface.link}
        | rx_bytes: #{interface.rx_bytes} --- rx_packets: #{interface.rx_packets}
        br
        | tx_bytes: #{interface.tx_bytes} --- tx_packets: #{interface.tx_packets}
        br

